<html dir="ltr" lang="en" class="js no-touch csstransitions">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css file -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/theme-color.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <!-- Title -->
    <title>DSS - Door Step Solution</title>

    <link rel="stylesheet" href="~/Content/swc.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="~/Scripts/swc.js"></script>
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/nuX0GNR875hMLA1LR7ayD9tc/recaptcha__en.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <!--google recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script src="~/Scripts/sweetalert.min.js"></script>
    <link rel="stylesheet" href="~/Content/sweetalert.css">

    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper">
            <section class="ulockd-service-details inner-bg inner-sect">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3">
                            <span id="lmenu" style="display:none;">
                                <button class="btn btn-lg btn-gradient-danger btn-block btn-rounded mb-2 mt-4">Click To See Menus</button>
                            </span>
                            <span class="collapse navbar-collapse" id="navbar-menu">
                                <div id="sidebar">
                                    <ul class="list-unstyled menu-categories" id="accordionExample">
                                        <li class="menu">
                                            <a href="#profile" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                                                <div class="">
                                                    <i class="flaticon-person "></i>
                                                    <span>Profile</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </div>
                                            </a>
                                            <ul class="collapse submenu list-unstyled in" id="profile" data-parent="#accordionExample">
                                                <li class="active">
                                                    <a href="UserProfile"> My Profile </a>
                                                </li>
                                                <li class="">
                                                    <a href="EditProfile"> Edit Profile </a>
                                                </li>
                                                <li class="">
                                                    <a href="BankDetails"> Bank Details </a>
                                                </li>
                                                <li class="">
                                                    <a href="ChangePassword"> Change Password </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu">
                                            <a href="MyInvestment" class="dropdown-toggle ">
                                                <div class="">
                                                    <i class="flaticon-coins"></i>
                                                    <span>My Investment</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="menu">
                                            <a href="PackageUpgrade" class="dropdown-toggle ">
                                                <div class="">
                                                    <i class="flaticon-coins"></i>
                                                    <span>Investment Packages</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="menu">
                                            <a href="Withdrawal" class="dropdown-toggle ">
                                                <div class="">
                                                    <i class="flaticon-save-money-in-moneybox"></i>
                                                    <span>Withdrawal</span>
                                                </div>

                                            </a>
                                        </li>
                                        <li class="menu">
                                            <a href="Downline" class="dropdown-toggle ">
                                                <div class="">
                                                    <i class="fa fa-sitemap"></i>
                                                    <span>Downline Users List</span>
                                                </div>

                                            </a>
                                        </li>
                                        <li class="menu">
                                            <a href="#payout" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                                                <div class="">
                                                    <i class="flaticon-person "></i>
                                                    <span>Payout</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </div>
                                            </a>
                                            <ul class="collapse submenu list-unstyled " id="payout" data-parent="#accordionExample">
                                                <li class="">
                                                    <a href="ReferralPayout.php">Direct Income </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="menu">
                                            <a href="Logout" class="dropdown-toggle">
                                                <div class="">
                                                    <i class="fa fa-sign-out"></i>
                                                    <span>Logout</span>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>

                                </div>
                            </span>
                        </div>


                        <script>
                            $("#lmenu").click(function () {
                                $("#leftmenu").css('display', 'block');
                                $("#lmenu").css('display', 'none');
                            });
                        </script>			<div class="col-md-9">
                            <div class="">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="statbox widget box box-shadow">
                                            <div class="widget-header">
                                                <div class="row">
                                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                        <h4>
                                                            Profile Details
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content widget-content-area">
                                                <form name="usrprffrm" method="post" action="user-detail-sub.php" novalidate="novalidate">
                                                    <input type="hidden" name="idvalue" value="1582">
                                                    <div class="form-group col-sm-6 mb-4">
                                                        <label for="hEmail" class=" col-sm-4 col-form-label">
                                                            First Name
                                                        </label>
                                                        <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                        <div class=" col-sm-7">
                                                            <input type="text" name="fname" class="form-control" value="Dinesh" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6 mb-4">
                                                        <label for="hEmail" class=" col-sm-4 col-form-label">Last Name</label>
                                                        <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                        <div class=" col-sm-7">
                                                            <input type="text" name="lname" class="form-control" value="Kumar G">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6 mb-4">
                                                        <label for="hEmail" class=" col-sm-4 col-form-label">Phone No.</label>
                                                        <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                        <div class=" col-sm-7">
                                                            <input type="text" name="phone_no" class="form-control" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" value="6383998925" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6 mb-4">
                                                        <label for="hEmail" class=" col-sm-4 col-form-label">Gender </label>
                                                        <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                        <div class=" col-sm-7">
                                                            <input type="radio" name="gender" value="Male" checked="" style="width:25%;"><label class="col-form-label">Male</label>&nbsp;
                                                            <input type="radio" name="gender" value="Female" style="width:26%;"><label class="col-form-label">Female</label>&nbsp;
                                                            <!--<input type="radio" name="gender" value="Others"  /><label class="col-form-label">Others</label>-->
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6 mb-4">
                                                        <label for="hEmail" class=" col-sm-4 col-form-label">DOB </label>
                                                        <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                        <div class=" col-sm-7">
                                                            <input type="text" name="usr_dob" id="dobId" class="form-control datepicker" onchange="return chkdob(this.value);" value="07/12/1997" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6 mb-4">
                                                        <label for="hEmail" class=" col-sm-4 col-form-label">Country</label>
                                                        <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                        <div class=" col-sm-7">
                                                            <select name="country_name" class="form-control" id="countryId" onchange="return getState(this.value);" required="" aria-required="true"> <option value=""> Select </option><option value="3">  United Arab Emirates</option><option value="23"> Bosnia and Herzegovina</option><option value="4">Afghanistan</option><option value="218">Aland Islands</option><option value="7">Albania</option><option value="5">Algeria</option><option value="223">American Samoa</option><option value="9">Andorra</option><option value="10">Angola</option><option value="14">Anguilla</option><option value="2">Antigua and Barbuda</option><option value="11">Argentina</option><option value="8">Armenia</option><option value="1">Aruba</option><option value="12">Australia</option><option value="13">Austria</option><option value="6">Azerbaijan</option><option value="20">Bahamas</option><option value="15">Bahrain</option><option value="21">Bangladesh</option><option value="16">Barbados</option><option value="27">Belarus</option><option value="19">Belgium</option><option value="22">Belize</option><option value="26">Benin</option><option value="18">Bermuda</option><option value="30">Bhutan</option><option value="24">Bolivia</option><option value="17">Botswana</option><option value="29">Brazil</option><option value="32">Brunei Darussalam</option><option value="31">Bulgaria</option><option value="210">Burkina Faso</option><option value="33">Burundi</option><option value="35">Cambodia</option><option value="44">Cameroon</option><option value="34">Canada</option><option value="50">Cape Verde</option><option value="42">Cayman Islands</option><option value="48">Central African Republic</option><option value="36">Chad</option><option value="41">Chile</option><option value="40">China</option><option value="109">Christmas Island</option><option value="43">Cocos (Keeling) Islands</option><option value="46">Colombia</option><option value="45">Comoros</option><option value="38">Congo</option><option value="39">Congo, The Democratic Republic of the</option><option value="51">Cook Islands</option><option value="47">Costa Rica</option><option value="98">Cote d'Ivoire</option><option value="90">Croatia</option><option value="49">Cuba</option><option value="52">Cyprus</option><option value="65">Czech Republic</option><option value="53">Denmark</option><option value="54">Djibouti</option><option value="55">Dominica</option><option value="56">Dominican Republic</option><option value="57">Ecuador</option><option value="58">Egypt</option><option value="63">El Salvador</option><option value="60">Equatorial Guinea</option><option value="62">Eritrea</option><option value="61">Estonia</option><option value="64">Ethiopia</option><option value="69">Falkland Islands (Malvinas)</option><option value="70">Faroe Islands</option><option value="68">Fiji</option><option value="67">Finland</option><option value="72">France</option><option value="66">French Guiana</option><option value="71">French Polynesia</option><option value="74">Gabon</option><option value="73">Gambia</option><option value="75">Georgia</option><option value="81">Germany</option><option value="76">Ghana</option><option value="77">Gibraltar</option><option value="83">Greece</option><option value="80">Greenland</option><option value="78">Grenada</option><option value="82">Guadeloupe</option><option value="227">Guam</option><option value="84">Guatemala</option><option value="79">Guernsey</option><option value="85">Guinea</option><option value="164">Guinea-Bissau</option><option value="86">Guyana</option><option value="87">Haiti</option><option value="89">Honduras</option><option value="88">Hong Kong</option><option value="91">Hungary</option><option value="92">Iceland</option><option value="94" selected="">India</option><option value="93">Indonesia</option><option value="95">Iran, Islamic Republic of</option><option value="99">Iraq</option><option value="59">Ireland</option><option value="228">Isle of Man</option><option value="96">Israel</option><option value="97">Italy</option><option value="102">Jamaica</option><option value="100">Japan</option><option value="229">Jersey</option><option value="103">Jordan</option><option value="111">Kazakhstan</option><option value="104">Kenya</option><option value="107">Kiribati</option><option value="106">Korea, Democratic People's Republic of</option><option value="108">Korea, Republic of</option><option value="110">Kuwait</option><option value="105">Kyrgyzstan</option><option value="112">Lao People's Democratic Republic</option><option value="114">Latvia</option><option value="113">Lebanon</option><option value="119">Lesotho</option><option value="116">Liberia</option><option value="121">Libyan Arab Jamahiriya</option><option value="118">Liechtenstein</option><option value="115">Lithuania</option><option value="120">Luxembourg</option><option value="124">Macao</option><option value="130">Macedonia</option><option value="122">Madagascar</option><option value="129">Malawi</option><option value="140">Malaysia</option><option value="138">Maldives</option><option value="131">Mali</option><option value="136">Malta</option><option value="231">Marshall Islands</option><option value="123">Martinique</option><option value="135">Mauritania</option><option value="134">Mauritius</option><option value="126">Mayotte</option><option value="139">Mexico</option><option value="101">Micronesia, Federated States of</option><option value="125">Moldova, Republic of</option><option value="132">Monaco</option><option value="127">Mongolia</option><option value="230">Montenegro</option><option value="128">Montserrat</option><option value="133">Morocco</option><option value="141">Mozambique</option><option value="25">Myanmar</option><option value="217">Namibia</option><option value="151">Nauru</option><option value="150">Nepal</option><option value="148">Netherlands</option><option value="153">Netherlands Antilles</option><option value="142">New Caledonia</option><option value="155">New Zealand</option><option value="154">Nicaragua</option><option value="145">Niger</option><option value="147">Nigeria</option><option value="143">Niue</option><option value="144">Norfolk Island</option><option value="232">Northern Mariana Islands</option><option value="149">Norway</option><option value="137">Oman</option><option value="235">Palau</option><option value="234">Palestinian Territory</option><option value="161">Panama</option><option value="163">Papua New Guinea</option><option value="156">Paraguay</option><option value="158">Peru</option><option value="168">Philippines</option><option value="157">Pitcairn</option><option value="160">Poland</option><option value="162">Portugal</option><option value="233">Puerto Rico</option><option value="165">Qatar</option><option value="166">Reunion</option><option value="167">Romania</option><option value="169">Russian Federation</option><option value="170">Rwanda</option><option value="177">Saint Helena</option><option value="173">Saint Kitts and Nevis</option><option value="184">Saint Lucia</option><option value="172">Saint Pierre and Miquelon</option><option value="213">Saint Vincent and the Grenadines</option><option value="221">Samoa</option><option value="180">San Marino</option><option value="198">Sao Tome and Principe</option><option value="171">Saudi Arabia</option><option value="176">Senegal</option><option value="236">Serbia</option><option value="174">Seychelles</option><option value="179">Sierra Leone</option><option value="181">Singapore</option><option value="117">Slovakia</option><option value="178">Slovenia</option><option value="28">Solomon Islands</option><option value="182">Somalia</option><option value="175">South Africa</option><option value="188">South Georgia and the South Sandwich Islands</option><option value="183">Spain</option><option value="37">Sri Lanka</option><option value="185">Sudan</option><option value="152">Suriname</option><option value="186">Svalbard and Jan Mayen</option><option value="222">Swaziland</option><option value="187">Sweden</option><option value="190">Switzerland</option><option value="189">Syrian Arab Republic</option><option value="203">Taiwan</option><option value="193">Tajikistan</option><option value="205">Tanzania, United Republic of</option><option value="192">Thailand</option><option value="200">Timor-Leste</option><option value="197">Togo</option><option value="195">Tokelau</option><option value="196">Tonga</option><option value="191">Trinidad and Tobago</option><option value="199">Tunisia</option><option value="201">Turkey</option><option value="204">Turkmenistan</option><option value="194">Turks and Caicos Islands</option><option value="202">Tuvalu</option><option value="206">Uganda</option><option value="208">Ukraine</option><option value="207">United Kingdom</option><option value="209">United States</option><option value="211">Uruguay</option><option value="212">Uzbekistan</option><option value="146">Vanuatu</option><option value="214">Venezuela</option><option value="216">Vietnam</option><option value="215">Virgin Islands, British</option><option value="237">Virgin Islands, U.S.</option><option value="219">Wallis and Futuna</option><option value="220">Western Sahara</option><option value="224">Yemen</option><option value="225">Zambia</option><option value="226">Zimbabwe</option>											</select>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="form-group col-sm-6 mb-4">
                                                        <label for="hEmail" class=" col-sm-4 col-form-label">State</label>
                                                        <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                        <div class=" col-sm-7">
                                                            <select name="state_name" id="stateId" class="form-control" onchange="return getCity(this.value);">
                                                                <option value=""> Select </option>
                                                                <option value="4031">(none)</option>
                                                                <option value="183">Andaman and Nicobar Islands</option>
                                                                <option value="184">Andhra Pradesh</option>
                                                                <option value="259">Arunachal Pradesh</option>
                                                                <option value="275">Assam</option>
                                                                <option value="459">Bihar</option>
                                                                <option value="728">Chandigarh</option>
                                                                <option value="742">Chhattisgarh</option>
                                                                <option value="862">Dadra and Nagar Haveli</option>
                                                                <option value="874">Daman and Diu</option>
                                                                <option value="906">Delhi</option>
                                                                <option value="1215">Goa</option>
                                                                <option value="1284">Gujarat</option>
                                                                <option value="1339">Haryana</option>
                                                                <option value="1376">Himachal Pradesh</option>
                                                                <option value="1496">Jammu and Kashmir</option>
                                                                <option value="1513">Jharkhand</option>
                                                                <option value="1614">Karnataka</option>
                                                                <option value="1656">Kerala</option>
                                                                <option value="1870">Lakshadweep</option>
                                                                <option value="2031">Madhya Pradesh</option>
                                                                <option value="2053">Maharashtra</option>
                                                                <option value="2090">Manipur</option>
                                                                <option value="2172">Meghalaya</option>
                                                                <option value="2226">Mizoram</option>
                                                                <option value="2318">Nagaland</option>
                                                                <option value="2577">Orissa</option>
                                                                <option value="2790">Puducherry</option>
                                                                <option value="2797">Punjab</option>
                                                                <option value="2853">Rajasthan</option>
                                                                <option value="3219">Sikkim</option>
                                                                <option value="3452" selected="">Tamil Nadu</option>
                                                                <option value="3586">Tripura</option>
                                                                <option value="3646">Uttar Pradesh</option>
                                                                <option value="3648">Uttarakhand</option>
                                                                <option value="3775">West Bengal</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6 mb-4">
                                                        <label for="hEmail" class=" col-sm-4 col-form-label">City</label>
                                                        <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                        <div class=" col-sm-7">
                                                            <select name="city_name" id="cityId" class="form-control">
                                                                <option value=""> Select </option>
                                                                <option value="150384">Abiramam</option>
                                                                <option value="150385">Adambakkam</option>
                                                                <option value="150386">Adyar</option>
                                                                <option value="150387">Alandur</option>
                                                                <option value="150388">Alandurai</option>
                                                                <option value="150389">Alangayam</option>
                                                                <option value="150390">Alangulam</option>
                                                                <option value="150391">Alwarpet</option>
                                                                <option value="150392">Ambasamudram</option>
                                                                <option value="150393">Ambattur</option>
                                                                <option value="150394">Ambur</option>
                                                                <option value="150395">Annur</option>
                                                                <option value="150396">Arakkonam</option>
                                                                <option value="150397">Arani</option>
                                                                <option value="150398">Aravankadu</option>
                                                                <option value="150399">Arcot</option>
                                                                <option value="150400">Arimalam</option>
                                                                <option value="150401">Ariyalur</option>
                                                                <option value="150402">Aruppukkottai</option>
                                                                <option value="150403">Ashok Nagar</option>
                                                                <option value="150404">Attayyampatti</option>
                                                                <option value="150405">Attur</option>
                                                                <option value="150406">Avadi</option>
                                                                <option value="150407">Avanashi</option>
                                                                <option value="150408">Bagalur</option>
                                                                <option value="150409">Bhavani</option>
                                                                <option value="150410">Bodinayakkanur</option>
                                                                <option value="150411">Chengalpattu</option>
                                                                <option value="150412">Chengam</option>
                                                                <option value="150413">Chennai</option>
                                                                <option value="150414">Chennimalai</option>
                                                                <option value="150415">Chetpet</option>
                                                                <option value="150416">Chettikulam</option>
                                                                <option value="150417">Chettipalaiyam</option>
                                                                <option value="150418">Cheyur</option>
                                                                <option value="150419">Cheyyar</option>
                                                                <option value="150420">Chidambaram</option>
                                                                <option value="150421">Chinna Salem</option>
                                                                <option value="150422">Chinnammanur</option>
                                                                <option value="150423">Choolai</option>
                                                                <option value="150424">Chromepet</option>
                                                                <option value="150425">Chrompet</option>
                                                                <option value="150426">Coimbatore</option>
                                                                <option value="150427">Coonoor</option>
                                                                <option value="150428">Cuddalore</option>
                                                                <option value="150429">Devakottai</option>
                                                                <option value="150430">Dhali</option>
                                                                <option value="150431">Dharapuram</option>
                                                                <option value="150432">Dharmapuri</option>
                                                                <option value="150433" selected="">Dindigul</option>
                                                                <option value="150434">Ennore</option>
                                                                <option value="150435">Erode</option>
                                                                <option value="150436">Fort</option>
                                                                <option value="150437">Gandarvakottai</option>
                                                                <option value="150438">Gangaikondan</option>
                                                                <option value="150439">Gingee</option>
                                                                <option value="150440">Gopichettipalaiyam</option>
                                                                <option value="150441">Gudalur</option>
                                                                <option value="150442">Gudiyattam</option>
                                                                <option value="150443">Guduvancheri</option>
                                                                <option value="150444">Gummidipundi</option>
                                                                <option value="150445">Harur</option>
                                                                <option value="150446">Hosur</option>
                                                                <option value="150447">Idappadi</option>
                                                                <option value="150448">Idindakarai</option>
                                                                <option value="150449">Irugur</option>
                                                                <option value="150450">Jolarpettai</option>
                                                                <option value="150451">Kadayanallur</option>
                                                                <option value="150452">Kallidaikurichchi</option>
                                                                <option value="150453">Kalpakkam</option>
                                                                <option value="150454">Kalugumalai</option>
                                                                <option value="150455">Kambar Nagar</option>
                                                                <option value="150456">Kancheepuram</option>
                                                                <option value="150457">Kanchipuram</option>
                                                                <option value="150458">Kangayam</option>
                                                                <option value="150459">Kaniyambadi</option>
                                                                <option value="150460">Kanniyakumari</option>
                                                                <option value="150461">Kanyakumari</option>
                                                                <option value="150462">Karaikkudi</option>
                                                                <option value="150463">Karaikudi</option>
                                                                <option value="150464">Kariapatti</option>
                                                                <option value="150465">Karumbakkam</option>
                                                                <option value="150466">Karur</option>
                                                                <option value="150467">Kaveripattinam</option>
                                                                <option value="150468">Kayattar</option>
                                                                <option value="150469">Kelamangalam</option>
                                                                <option value="150470">Kilpauk</option>
                                                                <option value="150471">Kilvelur</option>
                                                                <option value="150472">Kiranur</option>
                                                                <option value="150473">Kodaikanal</option>
                                                                <option value="150474">Kodambakkam</option>
                                                                <option value="150475">Kodumudi</option>
                                                                <option value="150476">Koimbatore</option>
                                                                <option value="150477">Koradacheri</option>
                                                                <option value="150478">Korampallam</option>
                                                                <option value="150479">Kotagiri</option>
                                                                <option value="150480">Kottaiyur</option>
                                                                <option value="150481">Kovai</option>
                                                                <option value="150482">Kovilpatti</option>
                                                                <option value="150483">Krishnagiri</option>
                                                                <option value="150484">Kulasekharam</option>
                                                                <option value="150485">Kumbakonam</option>
                                                                <option value="150486">Lalgudi</option>
                                                                <option value="150487">Madipakkam</option>
                                                                <option value="150488">Madras</option>
                                                                <option value="150489">Madras Mylapore</option>
                                                                <option value="150490">Madras Nungambakan</option>
                                                                <option value="150491">Madras Rayapuram</option>
                                                                <option value="150492">Madukkarai</option>
                                                                <option value="150493">Madura</option>
                                                                <option value="150494">Madurai</option>
                                                                <option value="150495">Madurantakam</option>
                                                                <option value="150496">Mallur</option>
                                                                <option value="150497">Mamallapuram</option>
                                                                <option value="150498">Manali</option>
                                                                <option value="150499">Manamadurai</option>
                                                                <option value="150500">Manapparai</option>
                                                                <option value="150501">Mangalam</option>
                                                                <option value="150502">Mannargudi</option>
                                                                <option value="150503">Mannur</option>
                                                                <option value="150504">Marakkanam</option>
                                                                <option value="150505">Marandahalli</option>
                                                                <option value="150506">Mayavaram</option>
                                                                <option value="150507">Mettupalayam</option>
                                                                <option value="150508">Mettur</option>
                                                                <option value="150509">Minjur</option>
                                                                <option value="150510">Mohanur</option>
                                                                <option value="150511">Mulanur</option>
                                                                <option value="150512">Murtinayakkanpatti</option>
                                                                <option value="150513">Musiri</option>
                                                                <option value="150514">Mylapore</option>
                                                                <option value="150515">Nagapattinam</option>
                                                                <option value="150516">Nagercoil</option>
                                                                <option value="150517">Nagore</option>
                                                                <option value="150518">Namakkal</option>
                                                                <option value="150519">Nambiyur</option>
                                                                <option value="150520">Navalur</option>
                                                                <option value="150521">Nazareth</option>
                                                                <option value="150522">Nellikkuppam</option>
                                                                <option value="150523">Nerkunram</option>
                                                                <option value="150524">Neyveli</option>
                                                                <option value="150525">Nilakkottai</option>
                                                                <option value="150526">Nungambakkam</option>
                                                                <option value="150527">Omalur</option>
                                                                <option value="150528">Ootacamund</option>
                                                                <option value="150529">Ooty</option>
                                                                <option value="150530">Palani</option>
                                                                <option value="150531">Palayamkottai</option>
                                                                <option value="150532">Palladam</option>
                                                                <option value="150533">Pallapatti</option>
                                                                <option value="150534">Pallavaram</option>
                                                                <option value="150535">Panruti</option>
                                                                <option value="150536">Papanasam</option>
                                                                <option value="150537">Papparapatti</option>
                                                                <option value="150538">Pattukkottai</option>
                                                                <option value="150539">Peelamedu</option>
                                                                <option value="150540">Pennagaram</option>
                                                                <option value="150541">Peraiyur</option>
                                                                <option value="150542">Perambalur</option>
                                                                <option value="150543">Perambur</option>
                                                                <option value="150544">Periyakulam</option>
                                                                <option value="150545">Periyanayakkanpalaiyam</option>
                                                                <option value="150546">Periyapatti</option>
                                                                <option value="150547">Perumanallur</option>
                                                                <option value="150548">Perundurai</option>
                                                                <option value="150549">Perungudi</option>
                                                                <option value="150550">Podanur</option>
                                                                <option value="150551">Pollachi</option>
                                                                <option value="150552">Ponneri</option>
                                                                <option value="150553">Poonamallee</option>
                                                                <option value="150554">Porayar</option>
                                                                <option value="150555">Porur</option>
                                                                <option value="150556">Pudukkottai</option>
                                                                <option value="150557">Pudur</option>
                                                                <option value="150558">Puduvayal</option>
                                                                <option value="150559">Puliyankudi</option>
                                                                <option value="150560">Puliyur</option>
                                                                <option value="150561">Rajapalaiyam</option>
                                                                <option value="150562">Rajapalayam</option>
                                                                <option value="150563">Ramanathapuram</option>
                                                                <option value="150564">Ramnad</option>
                                                                <option value="150565">Ranipet</option>
                                                                <option value="150566">Rasipuram</option>
                                                                <option value="150567">Royapettah</option>
                                                                <option value="150568">Saidapet</option>
                                                                <option value="150569">Saint Thomas Mount</option>
                                                                <option value="150570">Salem</option>
                                                                <option value="150571">Sankarankovil</option>
                                                                <option value="150572">Sankari Drug</option>
                                                                <option value="150573">Sattur</option>
                                                                <option value="150574">Selam</option>
                                                                <option value="150575">Shencottah</option>
                                                                <option value="150576">Sholinghur</option>
                                                                <option value="150577">Singanallur</option>
                                                                <option value="150578">Singaperumalkoil</option>
                                                                <option value="150579">Sirkali</option>
                                                                <option value="150580">Siruseri</option>
                                                                <option value="150581">Sivaganga</option>
                                                                <option value="150582">Sivagiri</option>
                                                                <option value="150583">Sivakasi</option>
                                                                <option value="150584">Sivaram</option>
                                                                <option value="150585">Srimushnam</option>
                                                                <option value="150586">Sriperumbudur</option>
                                                                <option value="150587">Srirangam</option>
                                                                <option value="150588">Srivilliputtur</option>
                                                                <option value="150589">Sulur</option>
                                                                <option value="150590">Surandai</option>
                                                                <option value="150591">Tambaram</option>
                                                                <option value="150592">Taramani</option>
                                                                <option value="150593">Tattayyangarpettai</option>
                                                                <option value="150594">Tenkasi</option>
                                                                <option value="150595">Teynampet</option>
                                                                <option value="150596">Thanjavur</option>
                                                                <option value="150597">Thiruvarur</option>
                                                                <option value="150598">Thoothukudi</option>
                                                                <option value="150599">Tindivanam</option>
                                                                <option value="150600">Tinnanur</option>
                                                                <option value="150601">Tiruchchendur</option>
                                                                <option value="150602">Tiruchchirappalli</option>
                                                                <option value="150603">Tiruchengodu</option>
                                                                <option value="150604">Tiruchirappalli</option>
                                                                <option value="150605">Tirumayam</option>
                                                                <option value="150606">Tirunelveli</option>
                                                                <option value="150607">Tiruppur</option>
                                                                <option value="150608">Tirupur</option>
                                                                <option value="150609">Tiruttani</option>
                                                                <option value="150610">Tiruvallur</option>
                                                                <option value="150611">Tiruvannamalai</option>
                                                                <option value="150612">Tiruvarur</option>
                                                                <option value="150613">Tiruvottiyur</option>
                                                                <option value="150614">Trichy</option>
                                                                <option value="150615">Turaiyur</option>
                                                                <option value="150616">Tuticorin</option>
                                                                <option value="150617">Udagamandalam</option>
                                                                <option value="150618">Udamalpet</option>
                                                                <option value="150619">Ulundurpettai</option>
                                                                <option value="150620">Usilampatti</option>
                                                                <option value="150621">Uttukkuli</option>
                                                                <option value="150622">Vadamadurai</option>
                                                                <option value="150623">Vadapalani</option>
                                                                <option value="150624">Valavanur</option>
                                                                <option value="150625">Vallam</option>
                                                                <option value="150626">Valparai</option>
                                                                <option value="150627">Vandalur</option>
                                                                <option value="150628">Vandavasi</option>
                                                                <option value="150629">Vaniyambadi</option>
                                                                <option value="150630">Vedasandur</option>
                                                                <option value="150631">Vellore</option>
                                                                <option value="150632">Velluru</option>
                                                                <option value="150633">Velur</option>
                                                                <option value="150634">Venkatapuram</option>
                                                                <option value="150635">Vijayapuri</option>
                                                                <option value="150636">Villapurum</option>
                                                                <option value="150637">Villivakkam</option>
                                                                <option value="150638">Villupuram</option>
                                                                <option value="150639">Virugambakkam</option>
                                                                <option value="150640">Vriddhachalam</option>
                                                                <option value="150641">Walajabad</option>
                                                                <option value="150642">Walajapet</option>
                                                                <option value="150643">Wellington</option>
                                                                <option value="150644">West Mambalam</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6 mb-4">
                                                        <label for="hEmail" class=" col-sm-4 col-form-label">Address</label>
                                                        <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                        <div class=" col-sm-7">
                                                            <textarea name="addr" class="form-control mb-4"> Guna illam , 
Sakthinayakanpatti,
Periyakottai (p.o),
M.M.Kovilur road,
Dindigul : 624 306    </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-6 mb-4">
                                                        <label for="hEmail" class=" col-sm-4 col-form-label">ZIP Code</label>
                                                        <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                        <div class=" col-sm-7">
                                                            <input type="text" name="postcode" class="form-control" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" value="624306" required="" aria-required="true">
                                                        </div>
                                                    </div>

                                                    
                                                    <button type="submit" name="usrprfSub" class="btn btn-lg btn-block ulockd-btn-thm2">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script>
            function chkdob() {
                var date1 = new Date();
                var dob = document.getElementById("dobId").value;
                if (dob != "") {
                    var dob = dob.split("/").reverse().join("/");
                    var date2 = new Date(dob);
                    var y1 = date1.getFullYear();
                    var y2 = date2.getFullYear();
                    var age = y1 - y2;
                    if (age <= 17) {
                        alert("Age should be greater than or equal to 18");
                        document.getElementById("dobId").value = '';
                        document.getElementById("dobId").focus();
                        return false;
                    }
                }
            }

            function nchkdob() {
                var date1 = new Date();
                var dob = document.getElementById("ndobId").value;
                if (dob != "") {
                    var dob = dob.split("/").reverse().join("/");
                    var date2 = new Date(dob);
                    var y1 = date1.getFullYear();
                    var y2 = date2.getFullYear();
                    var age = y1 - y2;
                    if (age <= 17) {
                        alert("Age should be greater than or equal to 18");
                        document.getElementById("ndobId").value = '';
                        document.getElementById("ndobId").focus();
                        return false;
                    }
                }
            }

            function getState(str) {
                if (str == "") {
                    alert("Select Country");
                    return false;
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: "admin/ajax.php",
                        data: { ctryid: str },
                        dataType: "text",
                        success: function (result) {
                            document.getElementById("stateId").innerHTML = result;
                        }
                    });
                }
            }

            function getCity(str) {
                if (str == "") {
                    alert("Select State");
                    return false;
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: "admin/ajax.php",
                        data: { stateid: str },
                        dataType: "text",
                        success: function (result) {
                            document.getElementById("cityId").innerHTML = result;
                        }
                    });
                }
            }

            function ngetState(str) {
                if (str == "") {
                    alert("Select Nominee Country");
                    return false;
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: "admin/ajax.php",
                        data: { nctryid: str },
                        dataType: "text",
                        success: function (result) {
                            document.getElementById("nstateId").innerHTML = result;
                        }
                    });
                }
            }

            function ngetCity(str) {
                if (str == "") {
                    alert("Select Nominee State");
                    return false;
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: "admin/ajax.php",
                        data: { nstateid: str },
                        dataType: "text",
                        success: function (result) {
                            document.getElementById("ncityId").innerHTML = result;
                        }
                    });
                }
            }
        </script>
        <!-- Our Footer -->
        <section class="ulockd-footer1 ulockd-pdng0">
            <div class="container footer-padding">
                <div class="row">
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-8">
                        <div class="font-icon-social text-right">
                            <ul class="list-inline footer-font-icon">
                                <li><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                <!--							<li><a target="_blank" href=""><i class="fa fa-google"></i></a></li>-->
                                <li><a target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                                <li><a target="_blank" href="https://www.instagram/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-7">
                        <div class="widget-about">
                            <h3>About Us</h3>
                            Now you make an online investment in fixed deposits online from the comfort of your home. Research a bit to find out what are the best available options for you and start investing. All the best!
                        </div>
                    </div>
                    
                </div>
                <hr>
                
            </div>
            
        </section>

        <a class="scrollToHome ulockd-bgthm" href="#"><i class="fa fa-angle-double-up"></i></a>

        <!-- Wrapper End -->
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootsnav.js"></script>
        <script type="text/javascript" src="~/Scripts/parallax.js"></script>
        <script type="text/javascript" src="~/Scripts/scrollto.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-scrolltofixed-min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
        <script type="text/javascript" src="~/Scripts/gallery.js"></script>
        <script type="text/javascript" src="~/Scripts/wow.min.js"></script>
        <script type="text/javascript" src="~/Scripts/slider.js"></script>
        <script type="text/javascript" src="~/Scripts/video-player.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.barfiller.js"></script>
        <script type="text/javascript" src="~/Scripts/jflickrfeed.min.js"></script>
        <script type="text/javascript" src="~/Scripts/timepicker.js"></script>
        <script type="text/javascript" src="~/Scripts/tweetie.js"></script>
        <!-- Custom script for all pages -->

        <script type="text/javascript" src="~/Scripts/script.js"></script>
        <script>
            function demo() {
                alert("Access denied to Demo User");
                return false;
            }
            function copyText() {
                var copyText = document.getElementById("myInput");
                copyText.select();
                document.execCommand("copy");
                alert("Copied the text: " + copyText.value);
            }
        </script>
        <!-- Custom Validation-->
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
        <script src="~/Scripts/custom-validation.js"></script>

    </div>
</body>
</html>