<html dir="ltr" lang="en" class="js no-touch csstransitions">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css file -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/theme-color.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <!-- Title -->
    <title>DSS - Door Step Solution</title>

    <link rel="stylesheet" href="~/Content/swc.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="~/Scripts/swc.js"></script>
    <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/nuX0GNR875hMLA1LR7ayD9tc/recaptcha__en.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <!--google recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script src="~/Scripts/sweetalert.min.js"></script>
    <link rel="stylesheet" href="~/Content/sweetalert.css">

    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper">

            <!-- Inner Pages Main Section -->
            <section class="ulockd-service-details inner-bg inner-sect">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3">
                            <span id="lmenu" style="display:none;">
                                <button class="btn btn-lg btn-gradient-danger btn-block btn-rounded mb-2 mt-4">Click To See Menus</button>
                            </span>
                            <span class="collapse navbar-collapse" id="navbar-menu">
                                <div id="sidebar">
                                    <ul class="list-unstyled menu-categories" id="accordionExample">
                                        <li class="menu">
                                            <a href="#profile" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                                                <div class="">
                                                    <i class="flaticon-person "></i>
                                                    <span>Profile</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </div>
                                            </a>
                                            <ul class="collapse submenu list-unstyled in" id="profile" data-parent="#accordionExample">
                                                <li class="active">
                                                    <a href="UserProfile"> My Profile </a>
                                                </li>
                                                <li class="">
                                                    <a href="EditProfile"> Edit Profile </a>
                                                </li>
                                                <li class="">
                                                    <a href="BankDetails"> Bank Details </a>
                                                </li>
                                                <li class="">
                                                    <a href="ChangePassword"> Change Password </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu">
                                            <a href="MyInvestment" class="dropdown-toggle ">
                                                <div class="">
                                                    <i class="flaticon-coins"></i>
                                                    <span>My Investment</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="menu">
                                            <a href="PackageUpgrade" class="dropdown-toggle ">
                                                <div class="">
                                                    <i class="flaticon-coins"></i>
                                                    <span>Investment Packages</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="menu">
                                            <a href="Withdrawal" class="dropdown-toggle ">
                                                <div class="">
                                                    <i class="flaticon-save-money-in-moneybox"></i>
                                                    <span>Withdrawal</span>
                                                </div>

                                            </a>
                                        </li>
                                        <li class="menu">
                                            <a href="Downline" class="dropdown-toggle ">
                                                <div class="">
                                                    <i class="fa fa-sitemap"></i>
                                                    <span>Downline Users List</span>
                                                </div>

                                            </a>
                                        </li>
                                        <li class="menu">
                                            <a href="#payout" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                                                <div class="">
                                                    <i class="flaticon-person "></i>
                                                    <span>Payout</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </div>
                                            </a>
                                            <ul class="collapse submenu list-unstyled " id="payout" data-parent="#accordionExample">
                                                <li class="">
                                                    <a href="ReferralPayout.php">Direct Income </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="menu">
                                            <a href="Logout" class="dropdown-toggle">
                                                <div class="">
                                                    <i class="fa fa-sign-out"></i>
                                                    <span>Logout</span>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>

                                </div>
                            </span>
                        </div>


                        <script>
                            $("#lmenu").click(function () {
                                $("#leftmenu").css('display', 'block');
                                $("#lmenu").css('display', 'none');
                            });
                        </script>			<div class="col-md-9">
                            <div class="">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="statbox widget box box-shadow">
                                            <div class="widget-header">
                                                <div class="row">
                                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                        <h4>My Profile</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content widget-content-area">
                                                <!--<form>-->
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">
                                                        First Name
                                                    </label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>Dinesh</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Last Name</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>Kumar G</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Email</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>dineshin107@gmail.com</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Phone No.</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>6383998925</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Gender </label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>Male</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">DOB </label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>07-12-1997</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Invest Amount</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>0 INR</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Country</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>India</p>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">State</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>Tamil Nadu</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">City</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>Dindigul</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Address</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>
                                                            Guna illam ,
                                                            Sakthinayakanpatti,
                                                            Periyakottai (p.o),
                                                            M.M.Kovilur road,
                                                            Dindigul : 624 306
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">ZIP Code</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>624306</p>
                                                    </div>
                                                </div>

                                                <div class="widget-header">
                                                    <div class="row">
                                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                            <h4>Bank Details</h4>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Bank Name</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>TMB</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Branch</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>Dindigul </p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Account No</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>116100710400159</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">IFSC</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>TMBL0000116</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Account Holder</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>G.Dinesh kumar</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Google Pay</label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>6383998925</p>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 mb-4">
                                                    <label for="hEmail" class=" col-sm-4 col-form-label">Phonepe </label>
                                                    <label for="hEmail" class=" col-sm-1 col-form-label">:</label>
                                                    <div class=" col-sm-7">
                                                        <p>6383998925</p>
                                                    </div>
                                                </div>

                                                <a href="edit-profile.php"><button class="btn btn-lg btn-block ulockd-btn-thm2 ">Edit Profile</button> </a>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>


        <!-- Our Footer -->
        <section class="ulockd-footer1 ulockd-pdng0">
            <div class="container footer-padding">
                <div class="row">
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-8">
                        <div class="font-icon-social text-right">
                            <ul class="list-inline footer-font-icon">
                                <li><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                                <li><a target="_blank" href="https://www.instagram/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-7">
                        <div class="widget-about">
                            <h3>About Us</h3>
                            Now you make an online investment in fixed deposits online from the comfort of your home. Research a bit to find out what are the best available options for you and start investing. All the best!
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <a class="scrollToHome ulockd-bgthm" href="#"><i class="fa fa-angle-double-up"></i></a>

        <!-- Wrapper End -->
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootsnav.js"></script>
        <script type="text/javascript" src="~/Scripts/parallax.js"></script>
        <script type="text/javascript" src="~/Scripts/scrollto.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-scrolltofixed-min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
        <script type="text/javascript" src="~/Scripts/gallery.js"></script>
        <script type="text/javascript" src="~/Scripts/wow.min.js"></script>
        <script type="text/javascript" src="~/Scripts/slider.js"></script>
        <script type="text/javascript" src="~/Scripts/video-player.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.barfiller.js"></script>
        <script type="text/javascript" src="~/Scripts/jflickrfeed.min.js"></script>
        <script type="text/javascript" src="~/Scripts/timepicker.js"></script>
        <script type="text/javascript" src="~/Scripts/tweetie.js"></script>
        <!-- Custom script for all pages -->

        <script type="text/javascript" src="~/Scripts/script.js"></script>
        <script>
            function demo() {
                alert("Access denied to Demo User");
                return false;
            }
            function copyText() {
                var copyText = document.getElementById("myInput");
                copyText.select();
                document.execCommand("copy");
                alert("Copied the text: " + copyText.value);
            }
        </script>
        <!-- Custom Validation-->
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
        <script src="~/Scripts/custom-validation.js"></script>

    </div>
</body>
</html>