<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css file -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/theme-color.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <!-- Title -->
    <title>DSS - Door Step Solution</title>
    <link rel="stylesheet" href="~/Content/swc.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="~/Scripts/swc.js"></script>

</head>
<body>
    <div class="wrapper">
        <!-- Our About -->
        <section class="ulockd-about ulockd-pad12650">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-box">
                            <h2 class="ulockd-mrgn120 title-bottom"><span class="text-thm2">About DSS</span></h2>
                            <p>We have a network of teams globally and understand that every market is different.
                            We could identify, develop the solution and optimize the opportunities for the people in 
                            order to make them earn more profits and benefits. We specifically work on the precious metals 
                            like Gold, silver, and oil. Also, we do concentrate on other base metals,
                            equity & derivatives, and energy sectors.</p>
                            <br /><br />
                            <p>
                                For Your Best Investment Solution
                                making smart investments can help you generate income by putting your money to work.
                                While you may work hard to earn money, it may not always be enough to fulfil your dreams and goals.
                                To start investing, you can consider either growth-oriented or fixed-income investment instruments.
                                People often get confused between savings and investments, which play different roles in your personal 
                                financial planning. While both savings and investments are important, they have different objectives. The intent or purpose
                                of keeping the money aside is the first differentiating factor.
                            </p>

                              </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row top-botm-space">
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 ulockd-pad395">
                                <div class="about-box2 text-center">
                                    <div class="ab-thumb">
                                        <div class="about-icon text-center"><i class="flaticon-businessmen-having-a-group-conference text-thm2"></i></div>
                                    </div>
                                    <div class="ab-details">
                                        <h4 class="fwb">Financial Planning</h4>
                                        <p>
                                            Financing means asking any financial institution (bank, credit, union, finance company) or another
                                            person to lend you money that you promise to repay at some point in the future. In other words when
                                            you buy a vehicle, if you do not have all the cash for it.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 ulockd-pad395">
                                <div class="about-box2 text-center">
                                    <div class="ab-thumb">
                                        <div class="about-icon text-center"><i class="flaticon-meeting-1 text-thm2"></i></div>
                                    </div>
                                    <div class="ab-details">
                                        <h4 class="fwb">Invesment Planning</h4>
                                        <p>
                                            Investment in terms of financial context means any money that is spent today in the hope of financial
                                            Benefits that may be reaped in a future time frame. Almost all investment are differentiated from other
                                            kinds of transaction based on the aim of the money spend.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row ulockd-mrgn1240">
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                        <div class="icon_box text-left tac-smd">
                            <div class="icon pull-left fn-smd"><span class="pe-7s-users text-thm2"></span></div>
                            <div class="ib_details">
                                <h3>Happy Clients</h3>
                                <ul class="list-inline">
                                    <li><div class="timer">100</div></li>
                                    <li>%</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                        <div class="icon_box text-left tac-smd">
                            <div class="icon pull-left fn-smd"><span class="pe-7s-cup text-thm2"></span></div>
                            <div class="ib_details">
                                <h3>Customres</h3>
                                <ul class="list-inline">
                                    <li><div class="timer">10000</div></li>
                                    <li>+</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                        <div class="icon_box text-left tac-smd">
                            <div class="icon pull-left fn-smd"><span class="pe-7s-add-user text-thm2"></span></div>
                            <div class="ib_details">
                                <h3>Active Experts</h3>
                                <ul class="list-inline">
                                    <li><div class="timer">200</div></li>
                                    <li>+</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Our Service -->
        <section id="service" class="our-service ulockd_bgp5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="ulockd-main-title">
                            <h2>Our Services</h2>
                            <p>These are the major services we provide, these makes us stand apart.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box">
                            <div class="icon text-thm2"><span class="flaticon-save-money-in-moneybox"></span></div>
                            <h3 class="title">Financial Solution</h3>
                            <div class="details">
                                <p>Financing means asking any financial institution (bank, credit, union, finance company).</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box">
                            <div class="icon text-thm2"><span class="flaticon-coins"></span></div>
                            <h3 class="title">Investment</h3>
                            <div class="details">
                                <p>Investment in terms of financial context means any money that is spent today.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box ulockd-mrgn1250">
                            <div class="icon text-thm2"><span class="flaticon-business-3"></span></div>
                            <h3 class="title">Commodity</h3>
                            <div class="details">
                                <p>A commodity market facilities trading in various commodities.It may be a spot or a derivatives. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box ulockd-mrgn1250">
                            <div class="icon text-thm2"><span class="flaticon-meeting-3"></span></div>
                            <h3 class="title">Trading & Traders</h3>
                            <div class="details">
                                <p>Online trading is basically the act of buying and selling financial products  through an online. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box ulockd-mrgn1250">
                            <div class="icon text-thm2"><span class="flaticon-market"></span></div>
                            <h3 class="title">Market Research</h3>
                            <div class="details">
                                <p> Market research is the process of assessing the viability of a new good or service through research.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Our Team -->
        <section class="ulockd-team-two pad12650">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="title-bottom ulockd-mrgn120 ulockd-mrgn635">About Our Info</h3>
                        <div class="row">
                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                
                                <h3>Our Vision</h3>
                                <p>In the upcoming year, we are going to become a MCX member (Multi Commodity Exchange) which makes our own platform. We also planned to create around 100 branches.</p>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                               
                                <h3>Our Mision</h3>
                                <p>DSS management practices and the business conduct benefits all over the country, people and the communities where it operates, to the extent affordable and possible.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="freequently-ask">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-box">
                            <h2>Who We Are</h2>
                            <h4>DSS - Door Step Solution</h4>
                            <p>We are one of the finest, diversified and vertically integrated commodity traders. DSS encompass new technologies of financial achievement speculative market industry which create a trillion dollar business opportunity to the people. “DSS” has been managed by the team of young and capable professional candidate from the assorted field who is having high excellence, dedication, and commitments.</p>
                            <p>We are happily informing that our company journey with more than 1300 satisfied investors with good earnings up to date. Every day we use our professional expertise and the logistics networks in order to distribute the commodities around the globe reliably and efficiently.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Our Team -->
        <!-- Our Testimonials -->
        <section class="ulockd-testimonial ulockd_bgp2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="ulockd-main-title">
                            <h2>Improving Fast</h2>
                            <p>Our team includes people across multiple functional areas in finance, investment and business. What binds us is the passion to deliver growth to our clients.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxs-12 col-xs-12 col-sm-612 col-md-12">
                        <div class="testimonial_tab" role="tabpanel">
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <a class="scrollToHome ulockd-bgthm" href="#"><i class="fa fa-home"></i></a>
    </div>
    <!-- Wrapper End -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootsnav.js"></script>
    <script type="text/javascript" src="~/Scripts/parallax.js"></script>
    <script type="text/javascript" src="~/Scripts/scrollto.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
    <script type="text/javascript" src="~/Scripts/gallery.js"></script>
    <script type="text/javascript" src="~/Scripts/wow.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slider.js"></script>
    <script type="text/javascript" src="~/Scripts/video-player.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.barfiller.js"></script>
    <script type="text/javascript" src="~/Scripts/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="~/Scripts/timepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/tweetie.js"></script>
    <script type="text/javascript" src="~/Scripts/validator.js"></script>
    <script type="text/javascript" src="~/Scripts/form-script.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
</body>
</html>