<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css file -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/theme-color.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Title -->
    <title>UTS - Universal Trading Solution</title>
    <!-- Favicon -->
    <link href="images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
    <link href="images/favicon.ico" sizes="128x128" rel="shortcut icon" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="swc.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="swc.js"></script>

</head>
<body>
    <div class="wrapper">
        <!-- Our About -->
        <section class="ulockd-about ulockd-pad12650">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-box">
                            <h2 class="ulockd-mrgn120 title-bottom"><span class="text-thm2">Universal</span></h2>
                            <p class="lead">Universal having its HQ in Coimbatore</p>
                            <p>Universal Trading Solution having Corporate Branches in Chennai & Coimbatore, Tamil Nadu India. “UTS” encompasses new technologies of financial achievement Speculative Market Industry-having a trillion dollar business opportunity.</p>
                            <p>We have a network of teams globally and understand that every market is different. We could identify, develop the solution and optimize the opportunities for the people in order to make them earn more profits and benefits. We specifically work on the precious metals like Gold, silver, and oil. Also, we do concentrate on other base metals, equity & derivatives, and energy sectors.</p>

                            <!-- <img class="img-responsive h100" src="images/resource/signeture.png" alt="signeture.png"> -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row top-botm-space">
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 ulockd-pad395">
                                <div class="about-box2 text-center">
                                    <div class="ab-thumb">
                                        <img class="img-responsive img-sze" src="images/about/s1.jpg" alt="s1.jpg">
                                        <div class="about-icon text-center"><i class="flaticon-businessmen-having-a-group-conference text-thm2"></i></div>
                                    </div>
                                    <div class="ab-details">
                                        <h4 class="fwb">Financial Planning</h4>
                                        <p>
                                            Financing means asking any financial institution (bank, credit, union, finance company) or another
                                            person to lend you money that you promise to repay at some point in the future. In other words when
                                            you buy a vehicle, if you do not have all the cash for it.
                                        </p>
                                        <button class="btn btn-md ulockd-btn-thm2">Learn More </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 ulockd-pad395">
                                <div class="about-box2 text-center">
                                    <div class="ab-thumb">
                                        <img class="img-responsive img-sze" src="images/about/s2.jpg" alt="s2.jpg">
                                        <div class="about-icon text-center"><i class="flaticon-meeting-1 text-thm2"></i></div>
                                    </div>
                                    <div class="ab-details">
                                        <h4 class="fwb">Invesment Planning</h4>
                                        <p>
                                            Investment in terms of financial context means any money that is spent today in the hope of financial
                                            Benefits that may be reaped in a future time frame. Almost all investment are differentiated from other
                                            kinds of transaction based on the aim of the money spend.
                                        </p>
                                        <button class="btn btn-md ulockd-btn-thm2">Learn More </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 ulockd-pad395">
                                <div class="about-box2 text-center">
                                    <div class="ab-thumb">
                                        <img class="img-responsive img-sze" src="images/about/s4.jpg" alt="s4.jpg">
                                        <div class="about-icon text-center"><i class="flaticon-tax text-thm2"></i></div>
                                    </div>
                                    <div class="ab-details">
                                        <h4 class="fwb">Mutual Fund</h4>
                                        <p>
                                            Mutual funds are one the option for investing money. Mutual funds are also convenient because they are
                                            easy to compare. This is because many mutual fund dealers allow the investor to compare the funds based
                                            on metrics such as level of rick, return and price.
                                        </p>
                                        <button class="btn btn-md ulockd-btn-thm2">Learn More </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ulockd-mrgn1240">
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                        <div class="icon_box text-left tac-smd">
                            <div class="icon pull-left fn-smd"><span class="pe-7s-users text-thm2"></span></div>
                            <div class="ib_details">
                                <h3>Happy Clients</h3>
                                <ul class="list-inline">
                                    <li><div class="timer">100</div></li>
                                    <li>%</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                        <div class="icon_box text-left tac-smd">
                            <div class="icon pull-left fn-smd"><span class="pe-7s-cup text-thm2"></span></div>
                            <div class="ib_details">
                                <h3>Customres</h3>
                                <ul class="list-inline">
                                    <li><div class="timer">40000</div></li>
                                    <li>+</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                        <div class="icon_box text-left tac-smd">
                            <div class="icon pull-left fn-smd"><span class="pe-7s-help2 text-thm2"></span></div>
                            <div class="ib_details">
                                <h3>Branches</h3>
                                <ul class="list-inline">
                                    <li><div class="timer">15</div></li>
                                    <li>+</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                        <div class="icon_box text-left tac-smd">
                            <div class="icon pull-left fn-smd"><span class="pe-7s-add-user text-thm2"></span></div>
                            <div class="ib_details">
                                <h3>Active Experts</h3>
                                <ul class="list-inline">
                                    <li><div class="timer">200</div></li>
                                    <li>+</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Our Service -->
        <section id="service" class="our-service ulockd_bgp5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="ulockd-main-title">
                            <h2>Our Services</h2>
                            <p>These are the major services we provide, these makes us stand apart.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box">
                            <div class="icon text-thm2"><span class="flaticon-save-money-in-moneybox"></span></div>
                            <h3 class="title">Financial Solution</h3>
                            <div class="details">
                                <p>Financing means asking any financial institution (bank, credit, union, finance company).</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box">
                            <div class="icon text-thm2"><span class="flaticon-coins"></span></div>
                            <h3 class="title">Investment</h3>
                            <div class="details">
                                <p>Investment in terms of financial context means any money that is spent today.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box">
                            <div class="icon text-thm2"><span class="flaticon-people"></span></div>
                            <h3 class="title">Mutual Funds</h3>
                            <div class="details">
                                <p>Mutual funds are one the option for investing money. Mutual funds are also convenient.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box ulockd-mrgn1250">
                            <div class="icon text-thm2"><span class="flaticon-business-3"></span></div>
                            <h3 class="title">Commodity</h3>
                            <div class="details">
                                <p>A commodity market facilities trading in various commodities.It may be a spot or a derivatives. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box ulockd-mrgn1250">
                            <div class="icon text-thm2"><span class="flaticon-meeting-3"></span></div>
                            <h3 class="title">Trading & Traders</h3>
                            <div class="details">
                                <p>Online trading is basically the act of buying and selling financial products  through an online. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box ulockd-mrgn1250">
                            <div class="icon text-thm2"><span class="flaticon-market"></span></div>
                            <h3 class="title">Market Research</h3>
                            <div class="details">
                                <p> Market research is the process of assessing the viability of a new good or service through research.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Our Team -->
        <section class="ulockd-team-two pad12650">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="title-bottom ulockd-mrgn120 ulockd-mrgn635">About Our Info</h3>
                        <div class="row">
                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                <img class="img-responsive img-whp" src="images/about/3.jpg" alt="3.jpg">
                                <h3>Our Vision</h3>
                                <p>In the upcoming year, we are going to become a MCX member (Multi Commodity Exchange) which makes our own platform. We also planned to create around 100 branches.</p>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6">
                                <img class="img-responsive img-whp" src="images/about/2.jpg" alt="2.jpg">
                                <h3>Our Mision</h3>
                                <p>UTS management practices and the business conduct benefits all over the country, people and the communities where it operates, to the extent affordable and possible.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h3 class="title-bottom ulockd-mrgn120 ulockd-mrgn635">Have Any Questions?</h3>
                        <div class="box">
                            <div class="booking_form_style_home bgc-white text-center">
                                <!-- Booking Form Sart-->
                                <form id="booking_form" class="text-center" name="booking_form" action="includes/booking2.php" method="post" novalidate="novalidate">
                                    <div class="messages"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="lead">Request A Quote</p>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input id="form_name" name="form_name" class="form-control form_control" placeholder="Full Name" required="required" data-error="Name is required." type="text">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input id="form_email" name="form_email" class="form-control form_control required email" placeholder="Email" required="required" data-error="Email is required." type="email">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input id="form_phone" name="form_phone" class="form-control form_control required" placeholder="Phone" required="required" data-error="Phone Number is required." type="text">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="ulockd-select-style">
                                                    <select id="form_option" class="form-control form_control required booking_form_control" required="required" data-error="Option is required." name="form_option">
                                                        <option value="">Select Service</option>
                                                        <option value="f_planning">Financial Planing</option>
                                                        <option value="invstmnt_planning">Investment Planing</option>
                                                        <option value="wlth_mngmnt">Welth Management</option>
                                                        <option value="tx_slution">Tax Solution</option>
                                                        <option value="edu_loan">Education Loan</option>
                                                        <option value="buiness_loan">Business Loan</option>
                                                        <option value="sving_solution">Saving Solution</option>
                                                        <option value="fxd_deposit">Fixed Deposit</option>
                                                        <option value="discuss">Other Discuss</option>
                                                    </select>
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea id="form_message" name="form_message" class="form-control ulockd-form-tb required" rows="5" placeholder="Your massage" required="required" data-error="Message is required."></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group">
                                                <input name="form-botcheck" class="form-control" type="hidden" value="">
                                                <button type="submit" class="btn btn-lg ulockd-btn-thm2 btn-block">Get Quote</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Our Gallery -->
        <!-- Our Freequently Ask -->
        <section class="freequently-ask">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-box">
                            <h2>Who We Are</h2>
                            <h4>UTS - Universal Trading Solution</h4>
                            <p>We are one of the finest, diversified and vertically integrated commodity traders. UTS encompass new technologies of financial achievement speculative market industry which create a trillion dollar business opportunity to the people. “UTS” has been managed by the team of young and capable professional candidate from the assorted field who is having high excellence, dedication, and commitments.</p>
                            <p>We are happily informing that our company journey with more than 1300 satisfied investors with good earnings up to date. Every day we use our professional expertise and the logistics networks in order to distribute the commodities around the globe reliably and efficiently.</p>
                            <button type="submit" class="btn btn-default ulockd-btn-thm2">Read More</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box"><img class="img-responsive img-whp" src="images/about/3.png" alt="3.png"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Our Team -->
        <!-- Our Testimonials -->
        <section class="ulockd-testimonial ulockd_bgp2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="ulockd-main-title">
                            <h2>Improving Fast</h2>
                            <p>Our team includes people across multiple functional areas in finance, investment and business. What binds us is the passion to deliver growth to our clients.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxs-12 col-xs-12 col-sm-612 col-md-12">
                        <div class="testimonial_tab" role="tabpanel">
                            <!-- Tab panes -->
                            <!--  <div class="tab-content" id="tabs-collapse">
                                 <div role="tabpanel" class="tab-pane fade in active" id="finPress">
                                     <div class="tab-inner">
                                         <p>Going out there to get a home loan is a scary venture. Who to get it from, who will give you the best interest rate, whose service will be the best etc.i luckily didn't have to deal with any of that because of UTS.</p>
                                         <hr>
                                         <h4 class="text-uppercase">Vasanth Bose,  </h4>
                                         <p><em class="text-capitalize"> NDTV Ltd,</em> at <a href="#">Delhi</a></p>
                                     </div>
                                 </div>
                                 <div role="tabpanel" class="tab-pane fade" id="daksh">
                                     <div class="tab-inner">
                                         <p>Really happy with the services of UTS, as they helped me to reduce my debt burden after I transferred my Personal Loan to lower ROI.</p>
                                         <hr>
                                         <h4 class="text-uppercase">Bhagya</h4>
                                         <p><em class="text-capitalize"> Business Man</em> at <a href="#">Chennai</a></p>
                                     </div>
                                 </div>
                                 <div role="tabpanel" class="tab-pane fade" id="anna">
                                     <div class="tab-inner">
                                         <p>I am very much happy to got your and yours team honest commitment for processing my loan application. I wish you all the best . Regards</p>
                                         <hr>
                                         <h4 class="text-uppercase">Mukesh Dharshan</h4>
                                         <p><em class="text-capitalize"> Master web developer</em> at <a href="#">Bangalore</a></p>
                                     </div>
                                 </div>
                                 <div role="tabpanel" class="tab-pane fade" id="wafer">
                                     <div class="tab-inner">
                                         <p>Appreciate your team for playing a greater role while negotiating with the Bank and providing full satisfaction to customer. The negotiating skill, understanding customer's need and taking that forward with the financial institution is really appreciable .</p>
                                         <hr>
                                         <h4 class="text-uppercase">Dhanya Mukhund</h4>
                                         <p><em class="text-capitalize"> Business Women</em> at <a href="#">Coimbatore</a></p>
                                     </div>
                                 </div>
                             </div> -->
                            <!-- Nav tabs -->
                            <!--  <ul class="nav nav-justified" id="nav-tabs" role="tablist">
                                 <li role="presentation" class="active">
                                     <a href="#finPress" aria-controls="finPress" role="tab" data-toggle="tab">
                                         <img class="img-circle" src="images/testimonial/1.jpg" alt="1.jpg">
                                         <span class="quote ulockd-bgthm"><i class="fa fa-quote-left"></i></span>
                                     </a>
                                 </li>
                                 <li role="presentation" class="">
                                     <a href="#daksh" aria-controls="daksh" role="tab" data-toggle="tab">
                                         <img class="img-circle" src="images/testimonial/2.jpg" alt="2.jpg">
                                         <span class="quote ulockd-bgthm"><i class="fa fa-quote-left"></i></span>
                                     </a>
                                 </li>
                                 <li role="presentation" class="">
                                     <a href="#anna" aria-controls="anna" role="tab" data-toggle="tab">
                                         <img class="img-circle" src="images/testimonial/3.jpg" alt="3.jpg">
                                         <span class="quote ulockd-bgthm"><i class="fa fa-quote-left"></i></span>
                                     </a>
                                 </li>
                                 <li role="presentation" class="">
                                     <a href="#wafer" aria-controls="wafer" role="tab" data-toggle="tab">
                                         <img class="img-circle" src="images/testimonial/4.jpg" alt="4.jpg">
                                         <span class="quote ulockd-bgthm"><i class="fa fa-quote-left"></i></span>
                                     </a>
                                 </li>
                             </ul> -->
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-4 ulockd-pdng0"><div class="partner"><img src="images/partners/1.png" alt="1.png"></div></div>
                            <div class="col-xs-6 col-sm-6 col-md-4 ulockd-pdng0"><div class="partner"><img src="images/partners/2.png" alt="2.png"></div></div>
                            <div class="col-xs-6 col-sm-6 col-md-4 ulockd-pdng0"><div class="partner"><img src="images/partners/3.png" alt="3.png"></div></div>
                            <div class="col-xs-6 col-sm-6 col-md-4 ulockd-pdng0"><div class="partner"><img src="images/partners/4.png" alt="4.png"></div></div>
                            <div class="col-xs-6 col-sm-6 col-md-4 ulockd-pdng0"><div class="partner"><img src="images/partners/5.png" alt="5.png"></div></div>
                            <div class="col-xs-6 col-sm-6 col-md-4 ulockd-pdng0"><div class="partner"><img src="images/partners/6.png" alt="5.png"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <a class="scrollToHome ulockd-bgthm" href="#"><i class="fa fa-home"></i></a>
    </div>
    <!-- Wrapper End -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootsnav.js"></script>
    <script type="text/javascript" src="js/parallax.js"></script>
    <script type="text/javascript" src="js/scrollto.js"></script>
    <script type="text/javascript" src="js/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.js"></script>
    <script type="text/javascript" src="js/gallery.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/slider.js"></script>
    <script type="text/javascript" src="js/video-player.js"></script>
    <script type="text/javascript" src="js/jquery.barfiller.js"></script>
    <script type="text/javascript" src="js/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="js/timepicker.js"></script>
    <script type="text/javascript" src="js/tweetie.js"></script>
    <script type="text/javascript" src="js/validator.js"></script>
    <script type="text/javascript" src="js/form-script.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>