<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css file -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/dark.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <!-- Title -->
    <title>DSS TRADE</title>
    <!-- custom css-->
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <!--google recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="~/Scripts/sweetalert.min.js"></script>
    <link rel="stylesheet" href="~/Content/sweetalert.css">


</head>
<body>
    <div class="wrapper">

        <!-- Home Design -->
        <div class="ulockd-home-slider">
            <div class="container-fluid">
                <div class="row">
                    <img src="~/Content/image/front page.jpg" alt="Trade" width="1300" height="300">
                </div>
            </div>
        </div>
        <section class="hero-area">
            <img class="bgimg" src="images/pattern/bg.png" alt="">
        </section>


        <section class="ulockd-pricing pad28">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
                        <div class="ulockd-main-title">
                            <h2 class="clr-black">Our Investment Plans</h2>
                            <p class="clr-par">"Our Aim is to ensure everyone should know the fundamentals of stock trading to ensure profitable trades. We introuduce the simple packages to gain profits for everyone."</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                        <div class="donation_circle">
                            <div class="pricingTable dntn_circle_box_1">
                                <div class="dntn_circle_head">
                                    <h2>BASIC PACKAGE</h2>
                                    <p>1300</p>
                                    <div class="dntn_circle_head_design"></div>
                                </div>
                                <div class="pricingContent dntn_circle_cnt">
                                    <ul>
                                        <li>Direct Income : 15 %</li>
                                        <li>Duration : 180 Days</li>
                                    </ul>
                                </div>
                                <div class="pricingTable-sign-up">
                                    <a href="login.html"><button class="btn btn-block btn-default ulockd-btn-thm2" style="cursor:default;">Choose Plan</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                        <div class="donation_circle">
                            <div class="pricingTable dntn_circle_box_3">
                                <div class="dntn_circle_head">
                                    <h2>PACKAGE 2</h2>
                                    <p>1300 * N</p>
                                    <div class="dntn_circle_head_design"></div>
                                </div>
                                <div class="pricingContent dntn_circle_cnt">
                                    <ul>
                                        <li>Direct Income : 15 * N % </li>
                                        <li>Duration : 180 Days</li>
                                    </ul>
                                </div>
                                <div class="pricingTable-sign-up">
                                    <a href="login.php"><button class="btn btn-block btn-default ulockd-btn-thm2" style="cursor:default;">Choose Plan</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                        <div>
                            <h1> N - Number of packages </h1>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Our About -->
        <section class="ulockd-about ">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row ">
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 ulockd-pad395">
                                <div class="about-box2 text-center">
                                    <div class="ab-thumb">
                                        <div class="about-icon text-center"><i class="flaticon-businessmen-having-a-group-conference text-thm2"></i></div>
                                    </div>
                                    <div class="ab-details">
                                        <h4 class="fwb">Investment Planning</h4>
                                        <p>An investment strategy is what guides an investor's decisions based on goals, risk tolerance, and future needs for capital. </p>									<a href="about-us.php" target="_blank">
                                            <button class="btn btn-md ulockd-btn-thm2">Learn More </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 ulockd-pad395">
                                <div class="about-box2 text-center">
                                    <div class="ab-thumb">
                                        <div class="about-icon text-center"><i class="flaticon-meeting-1 text-thm2"></i></div>
                                    </div>
                                    <div class="ab-details">
                                        <h4 class="fwb">Trust Stability</h4>
                                        <p>Security and trustworthiness is becoming the cornerstone of a fully connected, intelligent world.</p>									<a href="about-us.php" target="_blank">
                                            <button class="btn btn-md ulockd-btn-thm2">Learn More </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 ulockd-pad395">
                                <div class="about-box2 text-center">
                                    <div class="ab-thumb">
                                        <div class="about-icon text-center"><i class="flaticon-tax text-thm2"></i></div>
                                    </div>
                                    <div class="ab-details">
                                        <h4 class="fwb">DSS Process</h4>
                                        <p>Forex trading may make you rich if you are a hedge fund with deep pockets or an unusually skilled currency trader.</p>									<a href="about-us.php" target="_blank">
                                            <button class="btn btn-md ulockd-btn-thm2">Learn More </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ulockd-mrgn1240">
                </div>
            </div>
        </section>

        <!-- Our Service -->
        <section id="service" class="our-service triangle">
            <div class="container">
                <div class="row">
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box ">
                            <div class="icon text-thm2"><span class="fa fa-sitemap"></span></div>
                            <h3 class="title">Unilevel Structure</h3>
                            <div class="details">
                                <p>DSS Plan is an unlimited width plan, that allows you to sponsor only one line of distributors, so everyone you sponsor is on your front line.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4">
                        <div class="service_box ulockd-mrgn1250">
                            <div class="icon text-thm2"><span class="flaticon-save-money-in-moneybox"></span></div>
                            <h3 class="title">Referral Commission</h3>
                            <div class="details">
                                <p>Our DSS, valued their consumers hard work as well as profitable bonus commissions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="freequently-ask weekreport-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-box">
                            <h2 class="ulockd-mrgn120">OUR VISION AND INVESTMENT MOTTO</h2>
                            <p>Our vision is to provide you the best environment to act and achieve big as well as to create your present and future to bring happiness in your life. We believe in success, a process to make progress continuously. All success, achievements and wealth come from an idea. The journey towards success starts with right efforts at right place. It is not difficult to be a successful person, in fact it is a result of your choice.</p>
                            <p>&nbsp;</p>						<a target="_blank" href="contact-us.php"><button type="button" class="btn btn-default ulockd-btn-thm2 mart-15">Read More</button> </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            function getroidet(str) {
                if (str == "") {
                    $("#reurnsbtn").addClass("hidden");
                    $("input#roiper").val("");
                    $("input#roidur").val("");
                    $("input#roiamt").val("");
                    $("input#paid").val("");
                    $("#returnsId").html("");
                    alert("Select package");
                    return false;
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: "roidet-ajax.php",
                        data: { pid: str },
                        dataType: "json",
                        success: function (result) {
                            $("input#roiper").val(result.roi);
                            $("input#roidur").val(result.dur);
                            $("input#roiamt").val(result.amt);
                            $("input#paid").val(result.paid);
                            $("#reurnsbtn").removeClass("hidden");
                            $("#returnsId").html(result.returns);
                        }
                    });
                }
            }
        </script>
        <a class="scrollToHome ulockd-bgthm" href="#"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <!-- Wrapper End -->

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootsnav.js"></script>
    <script type="text/javascript" src="~/Scripts/parallax.js"></script>
    <script type="text/javascript" src="js/scrollto.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
    <script type="text/javascript" src="~/Scripts/gallery.js"></script>
    <script type="text/javascript" src="~/Scripts/wow.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slider.js"></script>
    <script type="text/javascript" src="~/Scripts/video-player.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.barfiller.js"></script>
    <script type="text/javascript" src="~/Scripts/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="js/timepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/tweetie.js"></script>
    <!-- Custom script for all pages -->

    <script type="text/javascript" src="~/Scripts/script.js"></script>
    <script>
        function demo() {
            alert("Access denied to Demo User");
            return false;
        }
        function copyText() {
            var copyText = document.getElementById("myInput");
            copyText.select();
            document.execCommand("copy");
            alert("Copied the text: " + copyText.value);
        }
    </script>
    <!-- Custom Validation-->
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="~/Scripts/custom-validation.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        var getval = document.domain;
        var pass_arg = { get_val: getval };
        $.ajax({
            dataType: "json",
            url: "admin/readajax.php",
            type: "POST",
            async: true,
            data: pass_arg,
        });
    });
</script>