

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css file -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/dark.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <!-- Title -->
    <title>DSS - Door Step Solution</title>
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <!--google recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="~/Scripts/sweetalert.min.js"></script>
    <link rel="stylesheet" href="~/Content/sweetalert.css">
</head>
<body>
    <div class="wrapper">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <!-- Inner Pages Main Section -->
        <section class="ulockd-service-details inner-bg inner-sect">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form class="form-login" name="regfrm" method="post" action="reg-log-submit.php" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12 text-center mb-4">
                                    <h2 class="clr-black">
                                        Register
                                    </h2>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group  mb-4">
                                        <div class="">
                                            <input type="text" name="sponsor_id" id="sid" onBlur="usrplacement(this.value);" class="form-control ht-46" value="" placeholder="Enter Referral Id" required />
                                          
                                        </div>
                                    </div>
                                    <div class="form-group  mb-4">
                                        <div class="">
                                            <input type="text" name="fname" onkeydown="return ((event.keyCode >= 65 && event.keyCode <= 90) || event.keyCode == 8)" class="form-control ht-46" placeholder="Enter Your First Name" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group  mb-4">
                                        <div class="">
                                            <input type="text" name="sponsor_name" id="sname" class="form-control ht-46" placeholder="Enter Referral Name" value="" />
                                            <span> </span>
                                        </div>
                                    </div>
                                    <div class="form-group  mb-4">
                                        <div class="">
                                            <input type="text" name="lname" onkeydown="return ((event.keyCode >= 65 && event.keyCode <= 90) || event.keyCode == 8)" class="form-control ht-46" placeholder="Enter Your Last Name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group  mb-4">
                                        <div class="">
                                            <input type="password" name="pass" id="passId" class="form-control ht-46" placeholder="Enter Password" required />
                                        </div>
                                    </div>
                                    <div class="form-group  mb-4">
                                        <div class="">
                                            <input type="email" name="email" class="form-control ht-46" placeholder="Enter Email" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group  mb-4">
                                        <div class="">
                                            <input type="password" name="cpass" class="form-control ht-46" placeholder="Enter Confirm Password" required />
                                        </div>
                                    </div>
                                    <div class="form-group  mb-4">
                                        <div class="">
                                            <input type="text" name="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control ht-46" placeholder="Enter Phone No." required />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mrt13">
                                    <input type="checkbox" name="agree" id="agree" required /><label class="clr-black padr-20">Click to accept our <a class="terms" target="_blank" href="terms-conditions.php">Terms & conditions.</a></label>
                                </div>
                                <div class="col-md-12">
                                    @*<input type="submit" name="regfrmSub" class="btn btn-lg btn-gradient-danger btn-block btn-rounded mb-3" value="Register" />*@</a>
                                    <a href="login.php" class="btn btn-lg btn-gradient-danger btn-block btn-rounded mb-3"> Register</a>
                                    <a href="login.php" class="btn btn-lg btn-outline-dark btn-block btn-rounded mb-3"> Login</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </section>
        <!-- Our Footer -->
        <section class="ulockd-footer1 ulockd-pdng0">
            <div class="container footer-padding">
                <div class="row">
                    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-8">
                        <div class="font-icon-social text-right">
                            <ul class="list-inline footer-font-icon">
                                <li><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                                <li><a target="_blank" href="https://www.instagram/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-7">
                        <div class="widget-about">
                            <h3>About Us</h3>
                            Now you make an online investment in fixed deposits online from the comfort of your home. Research a bit to find out what are the best available options for you and start investing. All the best!
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </section>

        <a class="scrollToHome ulockd-bgthm" href="#"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <!-- Wrapper End -->

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootsnav.js"></script>
    <script type="text/javascript" src="~/Scripts/parallax.js"></script>
    <script type="text/javascript" src="~/Scripts/scrollto.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
    <script type="text/javascript" src="~/Scripts/gallery.js"></script>
    <script type="text/javascript" src="~/Scripts/wow.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slider.js"></script>
    <script type="text/javascript" src="~/Scripts/video-player.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.barfiller.js"></script>
    <script type="text/javascript" src="~/Scripts/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="~/Scripts/timepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/tweetie.js"></script>
    <!-- Custom script for all pages -->

    <script type="text/javascript" src="js/script.js"></script>
    <script>
    function demo() {
            alert("Access denied to Demo User");
            return false;
        }
        function copyText() {
            var copyText = document.getElementById("myInput");
            copyText.select();
            document.execCommand("copy");
            alert("Copied the text: " + copyText.value);
        }</script>
    <!-- Custom Validation-->
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="~/Scripts/custom-validation.js"></script>
</body>
</html>
<script>function usrplacement(spnsrid) {
	if(spnsrid!="") {
		$.ajax({
			type: 'POST',
			url: "admin/ajax.php",
			data: {spnsr_plc:spnsrid},
			dataType: "text",
			success: function(result) {
				var result=JSON.parse(result);
				if(result=="0") {
					alert('Invalid Sponsor ID');
					document.getElementById("sid").value='';
				}
				else {
					document.getElementById("sname").value=result.name;
				}
			}
		});
	}
}

$("#memPack").click(function(){
	$("#tokensysId").css('display', 'none');
	$("#mempackId").css('display', 'block');
	$("#epinId").prop("required",false);
	$("#epinId").val("");
});
$("#tokenSys").click(function(){
	$("#mempackId").css('display', 'none');
	$("#pay_typeId").css('display', 'none');
	$("#tokensysId").css('display', 'block');
	$("#epinId").prop("required",true);
});

$("#online").click(function(){
	$("#offlineId").css('display', 'none');
	$("#payslipId").prop("required",false);
	$("#onlineId").css('display', 'block');
});
$("#offline").click(function(){
	$("#onlineId").css('display', 'none');
	$("#offlineId").css('display', 'block');
	$("#payslipId").prop("required",true);
});

function paytype() {
	$("#pay_typeId").css('display', 'block');
}</script>